<div class="actions">
  <button
    mat-button
    style="width: 40%"
    disabled="{{ !areFieldsValid }}"
    (click)="onSubmitClick()"
  >
    Submit
  </button>
  @if(errorText) {
  <span class="error-text">{{ errorText }}</span>
  }
  <div class="switch">
    @if(isLogin) {<span>Don`t have an account yet?</span>
    <button rout mat-button routerLink="/register">Register</button>} @else {
    <span>Already have an account?</span>
    <button mat-button routerLink="/login">Login</button>
    }
  </div>
</div>
