<div class="panel container">
  <div class="table">
    <div>
      <div class="filters-container">
        <mat-form-field appearance="outline">
          <mat-label>UserName filter</mat-label>
          <input matInput [(ngModel)]="partialUserNameInput" />
          @if (partialUserNameInput) {
          <button matSuffix mat-icon-button (click)="clearPartialUsername()">
            <mat-icon>close</mat-icon>
          </button>
          }
          <button
            matSuffix
            mat-icon-button
            (click)="updateQuery({ partialUserName: partialUserNameInput })"
          >
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" class="date-range-picker">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
            <input
              formControlName="start"
              matStartDate
              placeholder="Start date"
              readonly
              (dateChange)="updateQuery({ startDate: range.value.start! })"
            />
            <input
              formControlName="end"
              matEndDate
              placeholder="End date"
              readonly
              (dateChange)="updateQuery({ endDate: range.value.end! })"
            />
          </mat-date-range-input>
          <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
          @if (options.startDate || options.endDate) {
          <button matIconSuffix mat-icon-button (click)="clearDate()">
            <mat-icon>close</mat-icon>
          </button>
          }
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <div
          class="roles-fields"
          (mouseover)="showButton = true"
          (mouseout)="showButton = false"
        >
          <div class="form-fields">
            <mat-form-field appearance="outline">
              <mat-label>Roles</mat-label>
              <input matInput [(ngModel)]="filterRolesInput[0]" />
              <button
                mat-icon-button
                matSuffix
                (click)="filterRolesInput[0] = ''; searchRoles()"
                [hidden]="filterRolesInput[0].length == 0"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            @for (role of filterRolesInput.slice(1); track $index) {
            <mat-form-field appearance="outline" class="additional-role-input">
              <input matInput [(ngModel)]="filterRolesInput[$index + 1]" />
              <button
                mat-icon-button
                matSuffix
                (click)="filterRolesInput.splice($index + 1, 1); searchRoles()"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            }
          </div>
          <div style="display: flex; flex-direction: column">
            <button mat-icon-button (click)="searchRoles()">
              <mat-icon>search</mat-icon>
            </button>
            <button
              mat-icon-button
              [hidden]="!showButton"
              (click)="filterRolesInput.push('')"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="metrics">
        @if (metrics$ | async; as metrics) {
        <mat-card>
          <mat-card-header>
            <mat-card-title> Metrics</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Admins: {{ metrics.adminCount }} Blocked:
            {{ metrics.blockedCount }} Total: {{ metrics.totalCount }}
          </mat-card-content>
        </mat-card>
        }
      </div>
    </div>
    <mat-table
      [dataSource]="(result$ | async)?.items || []"
      matSort
      (matSortChange)="onSortChange($event)"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          @if ((result$ | async)?.items; as users) {
          <mat-checkbox
            (change)="$event ? toggleAllRows(users) : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
          }
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef>Photo</th>
        <td mat-cell *matCellDef="let element">
          <img
            [src]="'data:image/jpeg;base64,' + element.image.content"
            [width]="40"
            [alt]="element.image.name"
          />
        </td>
      </ng-container>
      <ng-container matColumnDef="userName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>UserName</th>
        <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>First name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Last name</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone number</th>
        <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          Registration date
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.creationDate | date : "d.MM.yyy, H:mm " }}
        </td>
      </ng-container>

      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef>Roles</th>
        <td mat-cell *matCellDef="let element">
          @for (roleName of showRoleNames(element.roles) ; track $index) {
          <div>{{ roleName }}</div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="blocked">
        <th mat-header-cell *matHeaderCellDef>Blocked</th>
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle
            #toggle
            [checked]="element.isBlocked"
            (toggleChange)="changeBlockStatus(element.id, !toggle.checked)"
          ></mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-mini-fab
            style="margin: 2px"
            (click)="
              triggerRolesUpdateDialog(
                element.userName,
                element.roles,
                element.id
              )
            "
          >
            <mat-icon>settings_accessibility</mat-icon>
          </button>
          <button mat-mini-fab (click)="triggerDeleteDialog(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="navigateToUser(row)"
      ></tr>
    </mat-table>
    <mat-paginator
      [length]="(result$ | async)?.totalCount"
      [pageSize]="options.pageSize"
      [pageIndex]="options.pageIndex"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
      (page)="
        updateQuery({
          pageSize: $event.pageSize,
          pageIndex: $event.pageIndex
        })
      "
    ></mat-paginator>
  </div>
</div>
