<div class="panel container">
  <div style="height: 90%">
    <div class="filters-container">
      <mat-form-field appearance="outline">
        <mat-label>UserName filter</mat-label>
        <input matInput [(ngModel)]="partialUserNameInput" />
        @if (partialUserNameInput) {
        <button matSuffix mat-icon-button (click)="clearPartialUsername()">
          <mat-icon>close</mat-icon>
        </button>
        }
        <button
          matSuffix
          mat-icon-button
          (click)="updateQuery({ partialUserName: partialUserNameInput })"
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="date-range-picker">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
          <input
            formControlName="start"
            matStartDate
            placeholder="Start date"
            readonly
            (dateChange)="updateQuery({ startDate: range.value.start! })"
          />
          <input
            formControlName="end"
            matEndDate
            placeholder="End date"
            readonly
            (dateChange)="updateQuery({ endDate: range.value.start! })"
          />
        </mat-date-range-input>
        <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
        @if (options.startDate || options.endDate) {
        <button matIconSuffix mat-icon-button (click)="clearDate()">
          <mat-icon>close</mat-icon>
        </button>
        }
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <div class="roles-fields">
        <mat-form-field appearance="outline">
          <mat-label>Roles</mat-label>
          <input matInput />
          <button mat-icon-button matSuffix><mat-icon>close</mat-icon></button>
        </mat-form-field>
        @for (role of filterRolesInput; track $index) {
        <mat-form-field appearance="outline" class="additional-role-input">
          <input matInput />
          <button mat-icon-button matSuffix><mat-icon>close</mat-icon></button>
        </mat-form-field>
        }
      </div>
    </div>
    <mat-table
      [fixedLayout]="true"
      [dataSource]="(result$ | async)?.items || []"
      matSort
      (matSortChange)="onSortChange($event)"
    >
      <ng-container matColumnDef="userName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>UserName</th>
        <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>First name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Last name</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone number</th>
        <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          Registration date
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.creationDate | date : "d.MM.yyy, H:mm " }}
        </td>
      </ng-container>

      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef>Roles</th>
        <td mat-cell *matCellDef="let element">{{ element.roles }}</td>
      </ng-container>

      <ng-container matColumnDef="blocked">
        <th mat-header-cell *matHeaderCellDef>Blocked</th>
        <td mat-cell *matCellDef="let element">{{ element.isBlocked }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </mat-table>
    <mat-paginator
      [length]="(result$ | async)?.totalCount"
      [pageSize]="options.pageSize"
      [pageIndex]="options.pageIndex"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
      (page)="
        updateQuery({ pageSize: $event.pageSize, pageIndex: $event.pageIndex })
      "
    ></mat-paginator>
  </div>

  <div></div>
</div>
