<div class="login dialog-box">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Full name</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone number</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input matInput type="password" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm password</mat-label>
    <input matInput type="password" />
  </mat-form-field>
  <div>
    <button mat-button style="width: 40%">Proceed</button>
  </div>
  <span>Already have an account?</span>
  <button mat-button routerLink="/login">Login</button>
</div>
