<div class="tab">
  <h2>{{ currentProject.name }}</h2>
  <div style="width: 80%">
    <div>{{ currentProject.description }}</div>
  </div>

  <div class="members-cards">
    <div>
      <div>
        <h3>Managers</h3>
      </div>

      <mat-list>
        @for (manager of currentProject.managers; track $index) {
        <mat-list-item>
          <app-avatar-image
            matListItemAvatar
            [imageId]="manager.user.imageId"
            [userName]="manager.user.userName"
          />
          <h3 matListItemTitle>
            {{ manager.user.firstName }} {{ manager.user.lastName }}
          </h3>
        </mat-list-item>
        }
      </mat-list>
    </div>
    <div>
      <div>
        <h3 (mouseover)="showButton = true" (mouseout)="showButton = false">
          Employees @if (isManager) {
          <button
            matSuffix
            mat-icon-button
            [hidden]="!showButton || !isManager"
            (click)="
              triggerChangeUsersInProject(
                currentProject.employees,
                currentProject.id,
                false
              )
            "
          >
            <mat-icon>add</mat-icon>
          </button>
          }
        </h3>
      </div>
      <mat-list>
        @for (employee of currentProject.employees; track $index) {
        <mat-list-item>
          <app-avatar-image
            matListItemAvatar
            [imageId]="employee.user.imageId"
            [userName]="employee.user.userName"
          />
          <h3 matListItemTitle>
            {{ employee.user.firstName }} {{ employee.user.lastName }}
          </h3>
        </mat-list-item>
        }
      </mat-list>
    </div>
  </div>
</div>
