.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  .mat-mdc-table {
    width: 70%;
    height: 90%;
    overflow: auto;
    .mat-mdc-header-row,
    .mat-mdc-row,
    .mat-mdc-footer-row {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    .mat-mdc-header-cell,
    .mat-mdc-cell {
      vertical-align: middle;
    }
  }
}
